<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet Padlock Time</title>
    <link rel="shortcut icon" href="./images/passos.ico" type="image/x-icon">
    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
    <!-- HEADER -->
    <%- include ('./partials/header') %>

        <!-- FOOTER -->
        <%- include ('./partials/footer') %>
</body>

</html>